.popover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 220px;
}

.popover.wider { width: 340px; }
.popover.large { width: 470px; }

.popover-arrow, .popover .popover-top-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin: -7px 0 0 -8px;
  border-bottom: 8px solid #353535;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.popover .bottom-arrow {
  top: 100%;
  margin: 0 0 0 -9px;
  border-top: 8px solid #353535;
  border-bottom: 0;
}

.popover .left-arrow {
  top: 50%;
  left: -9px;
  margin: -7px 0 0 -7px;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #353535;
  border-top: 8px solid transparent;
}

.popover .right-arrow {
  top: 50%;
  left: 100%;
  margin: -7px 0 0 0;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #353535;
  border-top: 8px solid transparent;
}

.popover-wrap {
  color: #fff;
  background: #353535;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 10px rgba(0,0,0, 0.4);
  -moz-box-shadow: 0 4px 10px rgba(0,0,0, 0.4);
  box-shadow: 0 4px 10px rgba(0,0,0, 0.4);
}

.popover-title {
  display: none;
  height: 27px;
  padding: 8px 0 0 0;
  color: white;
  font-size: 1.3em;
  text-align: center;
  background: #121212;
}

.popover-content {
  overflow: auto;
}
