/**
 * jQuery.popover example stylesheet.
 * By Davey IJzermans
 * http://daveyyzermans.nl
 *
 * License: public domain
 */

.popover {
  position : absolute;
  top      : 0;
  left     : 0;
  display  : none;
  width    : 220px;
}

.popover.wider { width: 340px; }

.popover.large { width: 470px; }

.popover .arrow, .popover .top-arrow {
  position : absolute;
  top      : 0;
  left     : 50%;
  width    : 18px;
  height   : 9px;
  margin   : -9px 0 0 -9px;
  background-repeat : no-repeat;
  background-image  : url(top-arrow.png);
}

.popover .bottom-arrow {
  top    : 100%;
  margin : 0 0 0 -9px;
  background-image: url(bottom-arrow.png);
}

.popover .left-arrow {
  top: 50%;
  left: -9px;
  width: 9px;
  height: 18px;
  margin: -7px 0 0 0;
  background-image: url(left-arrow.png);
}

.popover .right-arrow {
  top    : 50%;
  left   : 100%;
  width  : 9px;
  height : 18px;
  margin : -7px -9px 0 0;
  background-image: url(right-arrow.png);
}

.popover .wrap {
  color      : #fff;
  background : #111;
  background : rgba(0,0,0, 0.81);
  background-image : -webkit-linear-gradient(90deg, rgba(0,0,0, 0.3) 0%, rgba(0,0,0,.3) 80%, rgba(255,255,255,.3) 100%);
  background-image : -moz-linear-gradient(90deg,    rgba(0,0,0, 0.3) 0%, rgba(0,0,0,.3) 80%, rgba(255,255,255,.3) 100%);
  background-image : linear-gradient(90deg,         rgba(0,0,0, 0.3) 0%, rgba(0,0,0,.3) 80%, rgba(255,255,255,.3) 100%);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 10px rgba(0,0,0, 0.4);
  -moz-box-shadow: 0 4px 10px rgba(0,0,0, 0.4);
  box-shadow: 0 4px 10px rgba(0,0,0, 0.4);
}

.popover .title {
  display    : none;
  height     : 27px;
  padding    : 8px 0 0 0;
  color      : white;
  font-size  : 1.3em;
  text-align : center;
  background : #121212;
}

.popover .content {
  overflow    : auto;
  padding     : 15px;
  font-size   : 0.9em;
  line-height : 1.3em;
}
